/*Login in*/
#h1_h42 {
color: grey;
  text-align: center;
}

#login_group2 {
padding-top: 70px;
display: flex;
flex-flow: column;
align-items: center;
}

#form-group2 {
  padding-bottom: 15px;

}

#pass2 {
  padding-bottom: 15px;

}

#signup2 {
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;

}
.login_button2 {
  background-color: limegreen;

}



/*Sign Up */
#h1_h4 {
color: grey;
  text-align: center;
}

#login_group {
padding-top: 70px;
display: flex;
flex-flow: column;
align-items: center;
}

#form-group {
  padding-bottom: 15px;
}

#pass {
  padding-bottom: 15px;

}

#signup {
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;

}
.sign_up_button {
  background-color: limegreen;
}



/*Event view*/

* {
  /*border: 1px solid red;*/
  font-family:'Roboto', sans-serif;
  margin: 0;
}
.navigation{
  background-color: rgb(211, 211, 211);
  font-size: 14pt;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.navigation a {
  text-decoration: none;
  background-color: white;
  color: rgb(42, 42, 42);
  padding: 10px;
  border-radius: 2px;
  margin-left: 15px;
}
div .company {
  float: left;
  color: rgb(42, 42, 42);
}
.container{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.eventName{
  width: 800px;
}
h1 {
  text-align: center;
}
.eventInfo{
  margin-top: 100px;
}
h3 {
  font-weight: bolder;
}
.about {
  margin: 30px;
}
.verticleLine {
  border: 1px solid rgb(42, 42, 42);
}
h2 {
  text-align: center;
}
.userBoxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 485px;
}
span {
  border: 1px black solid;
  width: 400px;
  height: 40px;
  margin: 20px;
  box-shadow: 10px 10px 5px #888888;
  padding: 5px;
}
